<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yepit.mapp.crp.mapper.system.SysRoleAuthMapper" >
  <resultMap id="BaseResultMap" type="com.yepit.mapp.crp.domain.system.SysRoleAuth" >
    <id column="role_auth_id" property="roleAuthId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_auth_id, role_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_auth
    where role_auth_id = #{roleAuthId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_auth
    where role_auth_id = #{roleAuthId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yepit.mapp.crp.domain.system.SysRoleAuth" >
    <selectKey resultType="java.lang.Long" keyProperty="roleAuthId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_role_auth (role_id, menu_id)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yepit.mapp.crp.domain.system.SysRoleAuth" >
    <selectKey resultType="java.lang.Long" keyProperty="roleAuthId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_role_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yepit.mapp.crp.domain.system.SysRoleAuth" >
    update sys_role_auth
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where role_auth_id = #{roleAuthId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yepit.mapp.crp.domain.system.SysRoleAuth" >
    update sys_role_auth
    set role_id = #{roleId,jdbcType=BIGINT},
      menu_id = #{menuId,jdbcType=VARCHAR}
    where role_auth_id = #{roleAuthId,jdbcType=BIGINT}
  </update>

  <resultMap id="SysMenuMap" type="com.yepit.mapp.crp.domain.system.SysMenu" >
    <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="parent_menu_id" property="parentMenuId" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <select id="listByRoleId" resultMap="SysMenuMap" parameterType="java.lang.Long">
    select a.menu_id, a.parent_menu_id, a.menu_name, a.icon, a.menu_url, a.sort
    from sys_role_auth t
    left join sys_menu a ON t.menu_id = a.menu_id
    where t.role_id = #{roleId,jdbcType=BIGINT}
  </select>
</mapper>